
.image-search-component table, .image-search-component th, .image-search-component td {
    border: 1px solid black;
    border-collapse: collapse;
}

.image-search-component th, .image-search-component td {
    padding: 5px;
    text-align: left;
}
